
/*fichero para estilo de la página de error*/
/* Barra de navegación */
* {
    margin: 0;  /* Eliminamos los margénes predeterminados del navegador */
    box-sizing: border-box;
 }
 
 body {
    font-family: sans-serif;
    padding: 100px 20px 0;   /* Padding para que no se junte el body con la barra de navegación y no se pegue a los bordes */
 } 

/* Cabecera */
.header {
    background-color: #70c7e9;
    height: 90px;
    position: fixed;  /* Para que se quede fijo si hago scroll */
    width: 100%;
    top: 0;
    left: 0;
 }
 /* Barra de la navegación. Para colocar los elementos dentro */
 .nav {
    display: flex;
    justify-content: space-between;  /* Para que queden separados en izquierda y derecha */
 
    /* Para hacer responsive la barra del navegador */
    /* Cuando llegue a este tamaño el contenido se centra */
    /*max-width: 992px; /* Ancho de máximo */
    /* margin: 0 auto; */
 }
 
 .logo-img {
    max-width: 100px; /* Ajusta el valor según lo necesites */
    max-height: 100px; /* Ajusta el valor según lo necesites */
    vertical-align: middle; /* Para alinear verticalmente la imagen con el texto */
 }
 .store-name {
    margin-left: 10px; /* Espacio entre la imagen y el texto */
 }
.name {
    color: rgb(18, 169, 189);
    font-size: 60px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
    font-family: "Barriecito", system-ui;    

    display: flex; /* Establecer como flex container */
    align-items: center; /* Centrar verticalmente los elementos hijos */
}
.error{
    display: flex; /* Establecer como flex container */
    flex-direction: column; /* Para colocar los elementos uno debajo del otro */
    align-items: center; /* Centrar los elementos horizontalmente */
    padding: 20px; /* Padding entre los elementos */
    text-align: center; /* Centrar el texto */
    /*overflow: hidden; /* Para ocular todo el alineamieto duera del contenedor */
     
}
.error img {
    width: 100%;
    max-width: 525px; /* Limita el tamaño máximo */
    height: auto;
}

.error h1 {
    padding: 20px;
    font-size: 40px;
}

.error p {
    font-size: 20px;
}