/*hoja de estilo*/
* {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
        /*background-image: url('imagenes/fondo1.jpg');
    background-size: cover; /* Esto ajusta la imagen al tamaño del cuerpo */
    /*background-position: center; /* Esto centra la imagen */
   
}

/* portada */

.logo-img {
    max-width: 100px; /* Ajusta el valor según lo necesites */
    max-height: 100px; /* Ajusta el valor según lo necesites */
    vertical-align: middle; /* Para alinear verticalmente la imagen con el texto */
 }

/* Cabecera */
.header {
    background-color: #19eaee;
    height: 90px;
    position: fixed;  /* Para que se quede fijo si hago scroll */
    width: 100%;
    top: 0;
    left: 0;
 }
 /* Barra de la navegación. Para colocar los elementos dentro */
 .nav {
    display: flex;
    justify-content: space-between;  /* Para que queden separados en izquierda y derecha */
 
    /* Para hacer responsive la barra del navegador */
    /* Cuando llegue a este tamaño el contenido se centra */
    /*max-width: 992px; /* Ancho de máximo */
    /* margin: 0 auto; */
 }
 
 .store-name {
    margin-left: 10px; /* Espacio entre la imagen y el texto */
 }
 .name {
    color: rgb(18, 169, 189);
    font-size: 60px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
    font-family: "Barriecito", system-ui;    

    display: flex; /* Establecer como flex container */
    align-items: center; /* Centrar verticalmente los elementos hijos */
 }

.productos {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}